/* ============ BASE =============== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h3 {
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}

h6 {
    font-size: 20px;
    line-height: 2rem;
    color: #6c6c6c;
    margin-top: 1rem;
}

.main-btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0 2rem;
    font-size: 1rem;
    line-height: 3rem;
    color: #0067f4;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
    z-index: 5;
}

.main-btn:hover {
    transform: translateY(-11px);
}

/* ============ NAVIGATION =============== */
.nav {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: all 0.5s ease;
}

.nav .navbar-toggler {
    display: none; 
}

.nav .menu-bar .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin: 0 1rem;
}

.item-link {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.item-link:hover {
    color: #4f47e4;
}

.navbar-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-social span {
    font-size: 1rem;
    font-weight: 600;
    padding-right: 10px;
    color: #6c6c6c;
}

.nav-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-social-icon {
    margin: 0 0.5rem;
}

.nav-social-link {
    color: #6c6c6c;
    font-size: 22px;
}




/* ============ HOME =============== */
.back {
    background-image: url(/images/3.jpg);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.back .overlay {
    background: linear-gradient(rgba(232, 237, 255, 0.9) 0%, rgba(239, 254, 255, 0.8) 40%, rgba(255, 255, 255, 0.1) 81%);
    width: 100%;
    height: 100%;
}

.back .hero-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.back .hero-shape img {
    width: 100%;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h6 {
    color: #1d1d1d;
}

.header-btns {
    margin-top: 22px;
}

.header-btn {
    display: inline-block;
    margin: 10px 10px 0 0;
}

.header-btns .header-btn .main-btn {
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    border: 0;
    line-height: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.header-btns .header-btn .btn-one {
    color: #fff;

}

.header-btns .header-btn .btn-one::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    z-index: -1;
    transition: all 0.3s ease;
    background-position: right center;

}

.header-btns .header-btn .btn-one:hover::before {
    background-image: linear-gradient(to left, #535cf1, #a147e4);
    background-position: left center;
}




/* ============ ABOUT =============== */
#wrapper {
    margin: 5rem 7rem 10rem 7rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about h6 {
    margin-bottom: 6rem;
}

.about-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-box .box {
    width: 60%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-box .box .box-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.about-icon {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #535cf1;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}

.about-img {
    width: 40%;
}

.about-img img {
    width: 100%;
}


/* ============ OFFERS =============== */
.offers {
    display: block;
    text-align: center;
}

.offers .account-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.offers h6 {
    margin-bottom: 6rem;
}

.hospital-card {
    width: 355px;
    height: 100%;
    border: 1px solid #535cf1;
    border-radius: 20px;
}

.hospital-card h3 {
    text-align: center;
    font-weight: 300;
    padding: 40px 0;
    background-color: #ecf0f1;
    transition: all ease 0.6s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.hospital-card:hover h3 {
    background-image: linear-gradient(to right, #535cf1, #a147e4);  
    color: #fff;
}

.patient-card h3 {
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    color: #fff;
}

.price {
    display: block;
    text-align: center;
    padding: 20px 0;
}

.sign {
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

.currency {
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: 300;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

.cent {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

.month {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

.offers .hospital-card ul li {
    border-top: 1px solid #ccc;
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
    color: #7f8c8d;
}

.offers .hospital-card ul li i {
    padding-right: 5px;
    color: #535cf1;
}

.offers .header-btn {
    margin: 2rem auto;
    width: 170px;
}

.offers .header-btn a {
    font-weight: normal;
    font-size: 18px;
    border-radius: 50px;
    outline: medium none;
    border: 1px solid #2ecc71;
    color: #1d1d1d;
}

.offers .hospital-card:hover .header-btn a  {
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    color: #fff;
    border: 1px solid #2ecc71;
}

.offers .patient-card .header-btn a {
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    color: #fff;
    border: 1px solid #2ecc71;
}




/* ============ CONTACT =============== */



/* ============ FOOTER =============== */




